<p id="notice"><%= notice %></p>

<h4 class="ineresh1">Интересные люди</h4>


  <div class="row">
  	<div class="index_wrap_box">
	    <% @users.each do |user| %>
	    	<div class="user_all_index">
				<div class="user_img_thumb ">
					<%= image_tag user.avatar.url{:thumb} %>				
				</div>
					<p class="name_interest_index">
				        <%= link_to user.name, user_path(user) %>						
					</p>
				<div class="downbox new_class">
					<%= user.posts.count %>

					<a href="#"> Публикация</a>
					<%= user.followers.count %>
					<a href="#">подписчиков</a>
					<%= user.followed_users.count %>
					<a href="#">Подписки:&nbsp;</a>
				</div>
				<div class="index_all_user_box">
					<% unless current_user?(user) %>
					  <div id="follow_form">
					  	<%= render 'follow_form', user: user %>
					  </div>
					<% end %>
					
				</div>
	    	</div>
	      <hr>
	     
	    <% end %>  	
  	</div>
  </div>

<br>


