<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-4">
		<div class="wrap_image">
		  <%= link_to image_tag @user.avatar.url(:medium)%>			
		</div>				
	</div>
	<div class="col-md-8">
		<div class="upbox">
			<p class="username">

			  <%= @user.name %>
			</p>
			<% if @user == current_user %>
		
			<%= link_to 'Редакитровать профиль', edit_user_path(@user), class: "edit_prof" %> 
			<ul class="dropdown">
			    <li class="dropdown">
			   		 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
			      <ul class="dropdown-menu">
			      
			        <li><a href="#">Отмена</a></li>
			        <li class="divider"></li>
			        <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
			      </ul>
			    </li>
			 </ul>			
			<% end %>
		</div>
		<div class="downbox">
			<%= @user.posts.count %>

			<a href="#"> Публикация</a>
			<%= current_user.followers.count %>
			<a href="#">подписчиков</a>
			<%= current_user.followed_users.count %>
			<a href="#">Подписки:&nbsp;</a>
		</div>
	</div>	
</div>

<div class="row">
	<% @user.posts.each do |post| %>
		<div class="col-md-4">
			<div class="in_box">
				<div class="wrap_post_img">
					
					<%= link_to image_tag post.image.url(:medium)%>		
								
				</div>	
				<div class="block_like">
					
					<%= link_to'', post_path(post), class: "like" %>
					<%= link_to post_path(post), class: "comment" do %>	
						<span><%= post.comments.count %></span>
					<% end %>
					
				</div>
			</div>
		</div> 
	<% end %>
</div>


